pandas
numpy
SQLAlchemy>=2.0
psycopg2-binary
Faker
python-dotenv
PyYAML
tabulate
streamlit
plotly
requests
fastapi
uvicorn
python-multipart
jose[cryptography]
passlib[bcrypt]
psutil
pydantic-settings
email-validator
# tableauserverclient
# pantab
# tableau-hyperapi
